* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #0079bf;
}

header {
    background-color: #0c6d9e;
    font-family: "Open Sans", sans-serif;
    height: 120px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: auto;
}

.logo-boards {
    display: inline-block;
    height: 50px;
    width: 10%;
    background-color: rgba(221, 212, 212, 0.5);
    margin: 10px;
    border-radius: 10px;
}

.logo-boards i, span, .search i {
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

.search {
    display: inline-block;
    height: 50px;
    width: 15%;
    background-color: rgba(221, 212, 212, 0.5);
    margin: 5px 10px;
    border-radius: 10px;
}

.search i {
    margin-left: 180px;
}

div.logo-trello {
    display: inline-block;
    margin: 10px 50px;
    width: 10%;
    position: relative;
    top: 20px;
    left: 180px;
}
div.logo-trello img {
    width: 100%;
}
div.list {
    display: inline-block;
    position: relative;
    top: 15px;
    left: 550px;
    overflow: auto;
}

div ul {
    float: right;
    list-style: none;
}

div ul li.icon {
    overflow: hidden;
    display: inline-block;
    background-color: rgba(221, 212, 212, 0.5);
    font-size: 16px;
    color:  #fff;
    margin-left: 15px;
    width: 35px;
    height: 35px;    
    border-radius: 5px;
    text-align: center;
}

div ul li.icon i {
    padding: 5px;
}

#profile {
width: 100%;
}  

main {
    margin-top: 120px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    width: 100%;
}

main h1 {
    padding-top: 20px;
}

.insert{
    background-color: #0c6d9e;
    display: inline-block;
    width: 30%;
    height: 50px;
    margin-top: 40px;
}

#insert-list h4 {
    margin-top: 15px;
    margin-left: 15px;
}

.form-style {
    margin-top: 20px;
    width: 30%;
    height: 300px;
    background-color: #c9c9c9;
}

.button-style {
    background-color: #40ad22;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
}

.input-style {
    margin-top: 30px;
    margin-left: 20px;
    width: 70%;
    height: 30px;
}

.hidden {
    display: none;
}

.list-container {
    margin-top: 20px;
    width: 50%;
    height: 100px;
    background-color: #b3b3b3;
}

.title-list {
    margin-left: 20px;
    margin-top: 30px;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    font-size: 18px;
}

.link {
    background-color: #9b9696;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: underline;
    color: black;
    font-size: 13px;
}


.textarea-container {
    margin-top: 20px;
    margin-left: 20px;
    width: 50%;  
}

.background {
    margin-top: 20px;
    width: 40%;
    height: 200px;
    background-color: #b3b3b3;
}
